.testimonials {
  margin-bottom: 40px;
  word-spacing: -1px;
  text-align: justify;
  text-align-last: center;
  &__testimonial{
    margin: auto;
    position: relative;
    width: 70%;
    line-height: 200%;
    background-color:rgb(235, 235, 235);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: $font-secondary;
    font-weight: 300;
    letter-spacing: 0.9px;
    @include fontSize(12);
    color: grey;
    &__dots{
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 40px;
      opacity: 0.5
    }
    &__author{
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.9px;
      margin-bottom: 0;
    }
    &__text{
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      line-height: 43px;
      background-image: repeating-linear-gradient(180deg, transparent, transparent 42px, rgba(0, 0, 0, 0.103) 42px, rgba(0, 0, 0, 0.103) 43px);
    }
    &:before{
      transform: translatex(-30px);
      content: '\201D';
      @include fontSize(170);
      position: absolute;
      opacity: 0.2;
      margin-top: 40px;
    }
  }
  &__slider{
    &__dots{
      margin-top: 0;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 1rem 0;
      list-style-type: none;
      li {
        @media screen and (min-width: 1200px){
          margin: 0 0.5rem;
        }
        @media screen and (max-width: 1200px){
          margin: 0 0.4rem;
        }
        @media screen and (max-width: 960px){
          margin: 0 0.3rem;
        }
        @media screen and (max-width: 720px){
          margin: 0 0.2rem;
        }
        @media screen and (max-width: 576px){
          margin: 0 0.2rem;
        }
      }
      button {
        display: block;
        @media screen and (min-width: 1200px){
          width: .8rem;
          height: .8rem;
        }
        @media screen and (max-width: 1200px){
          width: .7rem;
          height: .7rem;
        }
        @media screen and (max-width: 960px){
          width: .6rem;
          height: .6rem;
        }
        @media screen and (max-width: 720px){
          width: .5rem;
          height: .5rem;
        }
        @media screen and (max-width: 576px){
          width: .4rem;
          height: .4rem;
        }
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #c2c3c5;
        text-indent: -9999px;
        cursor: pointer;
        &:focus{
          outline: none;
        }
      }
      li.slick-active button {
        background-color: #2b2c2c;
      }
    }
  }
}