@import "../generic/mixins";

html{
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  background-color: #f2f2f2;
}

@media (max-width: 576px){
  @include fonts(40, 16, 20, 8, 10);
}

@media (min-width: 576px) {
  @include fonts(50, 20, 24, 11, 10);
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  @include fonts(60, 24, 28, 14, 10);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  @include fonts(70, 28, 28, 17, 12);
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  @include fonts(80, 32, 32, 20, 12);
}

a {
  text-decoration: none;
}