<footer class="footer">
  <div class="footer__contact">
    <p class="footer__contact__name">e-mail: </p><a class="footer__contact__value" href="mailto:#">kontakt@agatadudek.com</a>
    <br>
    <p class="footer__contact__name">telefon: </p><a class="footer__contact__value" href="tel:#">505 182 565</a>
  </div><!--footer__contact-->
  <div class="footer__instagram">
    <h4 class="footer__instagram__text">Odwiedź mój INSTAGRAM</h4>
    <div class="footer__instagram__underline"></div>
  </div><!--footer__instagram-->
  <div class="footer__socialmedia">
    <p class="footer__socialmedia__rights">Wszystkie prawa autorskie do zdjęć zastrzeżone. <b>Agata Dudek</b></p>
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-between footer__socialmedia__icons">
        <a class="footer__socialmedia__icons--facebook" href="#"><i class="fab fa-facebook-f" style="color: white"></i></a>
        <a class="footer__socialmedia__icons--instagram" href="#"><i class="fab fa-instagram" style="color: white"></i></a>
    </div>
    </div>
  </div><!--footer__socialmedia-->
</footer>