<section class="section parallax">
  <div class="parallax__image">
    <div class="parallax__image__textarea">
      <div class="parallax__image__textarea__quotation">
        <h2>Ansel Adams mówił, że najważniejszy element aparatu znajduje się 12 cali za nim. Mam na imię Agata, a tutaj możesz dowiedzieć się trochę więcej o mnie i moich zdjęciach.</h2>
     </div> <!--parallax__text__quotation-->
    <div class="parallax__image__textarea__buttonwrapper">
      <a class="parallax__image__textarea__buttonwrapper__button" href="#">
        <span>czytaj więcej</span>
      </a> <!--parallax__text__button-->
    </div>
    </div> <!--parallax__text-->
  </div> <!--parallax__image-->


</section>