<div class="image-slider__item" style='background-image: url("{{image}}")'>
    <div class="image-slider__text img-fluid">
      <h1>{{title}}</h1>
      <h3>{{subtitle}}</h3>
    </div> <!--hero-text-->
    <span class="image-slider__arrow-prev">
      <i class="fas fa-angle-left">
      </i>
    </span> <!--image-slider__arrow-prev-->
    <span class="image-slider__arrow-next">
      <i class="fas fa-angle-right">
      </i>
    </span>  <!--image-slider__arrow-next-->
  </div> <!--image-slider__item-->