@import "../generic/mixins";

.footer{
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  &__contact{
    @include fontSize(14);
    margin: 0;
    text-align: center;
    padding-top: 30px;
    line-height: 180%;
    height: 100px;
    background-color: rgb(18,24,30);
    color: white;
    font-weight: 300;
    letter-spacing: 1.4px;
    &__name{
      display: inline;
      color: #d0d1d3;
      opacity: 0.4;
    }
    &__value{
      color: #d0d1d3;
      text-decoration: none;
      &:hover{
        color: white;
        text-decoration: underline;
      }
    }
  }
  &__instagram{
    height: 180px;
    background-color:rgb(20,27,34);
    border-bottom: 1px solid #2c3238;
    &__text{
      margin-top: 58px;
      display: inline-block;
      position: relative;
      color: #c5c7c9;
      margin-left: 21%;
      margin-right: 13%;
      letter-spacing: 0.9;
    }
    &__underline{
      width: 60%;
      margin-top: 20px;
      margin-left: 21%;
      margin-right: 13%;
      height:5px;
      background-color:white;
    }
  }
  &__socialmedia{
    height: 100px;
    background-color: #141b22;
    text-align: center;
    align-items: center;
    padding-top:18px;
    color: #d0d1d3;
    letter-spacing: 0.9px;
    font-weight: 300;
    @include fontSize(14);
    &__rights{
      opacity: 0.7;
    }
    &__icons{
      width: 40px;
      &--instagram{
        @include socialMediaIcons();
      }
      &--facebook{
        @include socialMediaIcons();
      }
    }
  }
}

